---
title: Toastar for sales teams
---

{% include header.html %}


 <!-- The top bar for the site -->
		
<div class="home">
	<section class="homepage-header-section">
		<img src="images/homepage/header-left-dots.svg" alt="" class="bg-dots bg-dots-left">
		<img src="images/homepage/header-right-dots.svg" alt="" class="bg-dots bg-dots-right">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<header>
						<h1>We are hiring exceptional individuals</h1>
						<h4>Join the Toastar team</h4>
						<div>
							<a href="mailto:dcp826p5@toastar.intercom-mail.com" class="button button-teal text-center">Drop us a line</a>
							

							
							
						</div>
					
					</header>
				</div>
				<div class="col-md-7 ">
					<div class="">
						<img class="header-image" src="/assets/images/hiringpage.png" alt="" />

					</div>
				</div>
			</div>
		</div>
	</section>


  <section>
	<div class="container mt-5">
        <div class=" Solution-main text-center">

        <div class="row justify-content-md-center">
          <h3>We are looking for passionate people </h3>
            
            <div class="col-sm-9">
            <p>Are you ready to innovate and make an impact for the better? Come join us. Humor, honesty, drive, commitment, these are some of the values by which we live, as individuals and as a team. We believe that success comes from hard work and deserves to be recognized and rewarded.<br><br>
We're looking for special individuals to help make our vision a reality. If you'd like to be part of our journey, these are some open positions:
</p>
</div>
</div>
            

                        <div class="row SolutionLists justify-content-md-center">
                             <div class="col-sm-4 text-left testimonial">

                             

         <h3 class="mt-4 font-weight-bold">Support engineers</h3>
         
          <p>As a system engineer you are member of our skilled support desk. If you want to be the first point of contact for our customers, send us your resume.</p>
          <a href="mailto:dcp826p5@toastar.intercom-mail.com" title="Contact Us">Apply now</a>
          
          
         
                                            
                    		 </div>
                                                    

                              <div class="col-sm-4 text-left testimonial">
                              	
                              	 <h3 class="mt-4 font-weight-bold">Skype for Business specialists</h3>
                           <p>Toastar is hiring Skype for Business specialists. If you are ready for challenging international projects for enterprise customers send us your resume.</p>
                           <a href="mailto:dcp826p5@toastar.intercom-mail.com" title="Contact Us">Apply now</a>
                           
                          

                    </div>

                    <div class="col-sm-4 text-left testimonial">

                             	

         <h3 class="mt-4 font-weight-bold">Developers</h3>
          <p>We are looking for Vue.js & Node.js developers who want to improve our products. If you want to work with the latest techniques and amazing customers, send us your resume.</p>
          <a href="mailto:dcp826p5@toastar.intercom-mail.com" title="Contact Us">Apply now</a>
          
    
         
                                            
                    		 </div>
                                                    

                              <div class="col-sm-4 text-left testimonial">
                              	
                              	 <h3 class="mt-4 font-weight-bold">Trainees and graduates</h3>
                           <p>Toastar is regularly hiring trainees and graduates. If you want to contribute to our new developments and innovations, send us your resume.</p>
                           <a href="mailto:dcp826p5@toastar.intercom-mail.com" title="Contact Us">Apply now</a>
                           
                          

                    </div>

      

                   
                  
                  </div>




            </div>
        </div>
  </section>









</div>





 <!-- The footer for the site -->
{% include footer.html %}	

