---
title: pricing
---

{% include header.html %}
		

<div class="pricing">

<section class="text-center header-section">
	<div class="container">
		<div class="row">
			<h1>Pick your roadmap plan</h1>
			<h4>Ready to roadmap? All our plans start with a free 14-day trial.</h4>
			<div class="preview-switch">
				<span id="monthly" class="toggle-switch">Monthly <span class="hidden-xs">billing</span></span>
				<div class="switch-pill right">
					<div class="switch"></div>
				</div>
				<span id="annually" class="toggle-switch">Annual <span class="hidden-xs">billing</span> &#40;Save 20&#37;&#41;</span>
			</div>
		</div>
	</div>
</section>

<section class="hidden-sm hidden-xs">
	<div class="container">
		<table class="pricing-table">
			<tr>
				<td class="pricing-image"><img src="https://roadmunk.com/images/pricing/icon-starter.svg" alt="ice cream truck" /></td>
				<td class="pricing-image">
					<img src="https://roadmunk.com/images/pricing/icon-business.svg" alt="ice cream stall" />
					<div class="popular-banner">Most Popular</div>
				</td>
				<td class="pricing-image"><img src="https://roadmunk.com/images/pricing/icon-professional.svg" alt="ice cream office building" /></td>
				<td class="pricing-image"><img src="https://roadmunk.com/images/pricing/icon-enterprise.svg" alt="ice cream factory complex" /></td>
				<div class="swoosh"></div>
			</tr>
			<tr class="plan-title text-center">
				<td>
					<h2>Starter</h2>
					<p>For a single user who wants to visualize their strategy.</p>
				</td>
				<td class="popular">
					<h2>Business</h2>
					<p>For teams who want to collaborate on roadmapping.</p>
				</td>
				<td>
					<h2>Professional</h2>
					<p>For scaling teams who need advanced security & support.</p>
				</td>
				<td>
					<h2>Enterprise</h2>
					<p>For alignment across your whole organization.</p>
				</td>
			</tr>
			<tr class="plan-price text-center">
				<td class="price">
					<h2 class="annual">$19</h2>
					<h2 class="monthly" style="display: none;">$25</h2>
					<p class="light-grey-text">per month</p>
				</td>
				<td class="price popular">
					<h2 class="annual">$49</h2>
					<h2 class="monthly" style="display: none;">$65</h2>
					<p class="light-grey-text">per user / month</p>
				</td>
				<td class="price">
					<h2 class="annual">$99</h2>
					<h2 class="monthly" style="display: none;">$129</h2>
					<p class="light-grey-text">per user / month</p>
				</td>
				<td>
					<a onclick="Intercom('showNewMessage', 'Hi, I\'d like to request an enterprise pricing quote')" class="button button-white">Contact Sales</a>
				</td>
			</tr>
			<tr class="plan-features">
				<td>
					<p><span class="emphasis">starter</span> includes:</p>
					<li>Unlimited roadmaps</li>
					<li>Unlimited views</li>
					<li>Unlimited filters</li>
					<li>Import/export from CSV</li>
					<li><a class="tooltip-link" data-toggle="tooltip" data-container="body" data-placement="right" title="Group items into loose time buckets like Now, Soon and Future.">Fuzzy Time</a></li>
					<li>Milestones</li>
					<li>Publish to URL</li>
					<li>Activity Feed</li>
					<li>Sign in with Google Login</li>
					<li>Key Dates</li>
					<li><a class="tooltip-link" data-toggle="tooltip" data-container="body" data-placement="right" title="One-way sync only pushes data from Jira to Roadmunk.">One-Way Jira</a></li>
				</td>
				<td class="popular">
					<p><span class="emphasis">starter, plus:</span></p>
					<li><a class="tooltip-link" data-toggle="tooltip" data-container="body" data-placement="right" title="Share across 3 account levels: Account Admin, Collaborator and Reviewer. See FAQ below for more detail.">Sharing & Permissions</a></li>
					<li>Commenting & Notifications</li>
					<li>Custom Color Palettes</li>
					<li>Master Roadmapping</li>
					<li>Export to PNG, HTML & PPT</li>
					<li>Print to A4, Legal & Letter</li>
					<li>Auto-Publish on Schedule</li>
					<div class="big-highlight">
						<span class="new-badge"></span>
						<p class="big-highlight-title"><strong>Add Jira integration for $9/collaborator.</strong></p>
						<p>Includes:</p>
						<li><a class="tooltip-link" data-toggle="tooltip" data-container="body" data-placement="right" title="The changes you make will be reflected in your roadmap (and vice versa)">Two-Way Jira</a></li>
						<li><a class="tooltip-link" data-toggle="tooltip" data-container="body" data-placement="right" title="Allows for complete control over which Jira issues should come across to Roadmunk">Custom JQL</a></li>
					</div>
				</td>
				<td>
					<p><span class="emphasis">business, plus:</span></p>
					<li><a class="tooltip-link" data-toggle="tooltip" data-container="body" data-placement="right" title="Easily integrate Roadmunk with any large identity provider.">SAML / SSO</a> Integration</li>
					<li>Designated CSM</li>
					<li>Complimentary training & support</li>
					<li>Auto-Publish in Realtime</li>
					<li><a class="tooltip-link" data-toggle="tooltip" data-container="body" data-placement="right" title="The changes you make will be reflected in your roadmap (and vice versa)">Two-Way Jira</a></li>
					<li><a class="tooltip-link" data-toggle="tooltip" data-container="body" data-placement="right" title="Allows for complete control over which Jira issues should come across to Roadmunk">Custom JQL</a></li>
				</td>
				<td>
					<p><span class="emphasis">professional, plus:</span></p>
					<li>Unlimited reviewers</li>
					<li>Custom terms and conditions</li>
					<li><a class="tooltip-link" data-toggle="tooltip" data-container="body" data-placement="right" title="Store your data in a dedicated server hosted by Amazon Web Services. Optional add-on.">Private Cloud</a></li>
					<li><a class="tooltip-link" data-toggle="tooltip" data-container="body" data-placement="right" title="Expedited delivery of requests. Available on a case-by-case basis.">Advanced Customization</a></li>
				</td>
			</tr>
			<tr class="plan-stats">
				<td>
					<hr>
					<span class="uppercase">file attachments</span>
					<p>1 GB / account </p>
					<span class="uppercase">support</span>
					<p>In-app</p>
				</td>
				<td class="popular">
					<hr>
					<span class="uppercase">file attachments</span>
					<p>5 GB / account </p>
					<span class="uppercase">support</span>
					<p>In-app & email</p>
					<span class="uppercase">reviewer seats</span>
					<p>$5 per user / month</p>
				</td>
				<td>
					<hr>
					<span class="uppercase">file attachments</span>
					<p>10 GB / account </p>
					<span class="uppercase">support</span>
					<p>In-app, email, phone</p>
					<span class="uppercase">reviewer seats</span>
					<p>$5 per user / month</p>
				</td>
				<td>
					<hr>
					<span class="uppercase">file attachments</span>
					<p>100 GB / account </p>
					<span class="uppercase">support</span>
					<p>In-app, email, phone, on-site and live agent</p>
					<span class="uppercase">reviewer seats</span>
					<p>Unlimited</p>
				</td>
			</tr>
			<tr class="button-row">
				<td><a class="button text-center" href="https://app.roadmunk.com/signup">Free Trial</a></td>
				<td class="popular text-center"><a class="button" href="https://app.roadmunk.com/signup">Free Trial</a></td>
				<td><a class="button text-center" href="https://app.roadmunk.com/signup">Free Trial</a></td>
				<td><a onclick="Intercom('showNewMessage', 'Hi Roadmunk, I\'d like to request an enterprise pricing quote')" class="button button-white text-center">Contact Sales</a></td>
			</tr>
		</table>
		<div class="usd-note">* All our pricing plans are listed in USD.</div>
	</div>
</section>


<section class="">
	<div class="container">
		<div class="row text-center">
			<h2>Frequently asked questions</h2>
		</div>
		<div class="col-md-10 center" id="faqs">
		
			<div class="row faq" data-open="false">
				<h4>
					How long does your free trial last?
					<svg id="plus0" xmlns="http://www.w3.org/2000/svg" height="21" width="21">
						<rect id="vertical0" x="9" y="0" height="20" width="3" fill="#0380d3"></rect>
						<rect x="0" y="9" height="3" width="21" fill="#0380d3"></rect>
					</svg>
				</h4>
				<div class="answer" style="display:none" >14 days.</div>
			</div>
			
			<div class="row faq" data-open="false">
				<h4>
					Can I change my plan later on?
					<svg id="plus1" xmlns="http://www.w3.org/2000/svg" height="21" width="21">
						<rect id="vertical1" x="9" y="0" height="20" width="3" fill="#0380d3"></rect>
						<rect x="0" y="9" height="3" width="21" fill="#0380d3"></rect>
					</svg>
				</h4>
				<div class="answer" style="display:none" >Yes. You can upgrade or add users at any time. Changes are pro-rated, based on the time you have left on your current plan (monthly or annual).</div>
			</div>
			
			<div class="row faq" data-open="false">
				<h4>
					Can I cancel my account at any time?
					<svg id="plus2" xmlns="http://www.w3.org/2000/svg" height="21" width="21">
						<rect id="vertical2" x="9" y="0" height="20" width="3" fill="#0380d3"></rect>
						<rect x="0" y="9" height="3" width="21" fill="#0380d3"></rect>
					</svg>
				</h4>
				<div class="answer" style="display:none" >We offer two account options. All of our <strong>Annual</strong> plans include a 20% discount, and can be terminated at the end of each contract year. Our <strong>Monthly</strong> plans can be terminated at any time. Cancellation for <strong>Monthly</strong> plans becomes effective at the end of the current billing month.</div>
			</div>
			
			<div class="row faq" data-open="false">
				<h4>
					Do you only accept payment by credit card?
					<svg id="plus3" xmlns="http://www.w3.org/2000/svg" height="21" width="21">
						<rect id="vertical3" x="9" y="0" height="20" width="3" fill="#0380d3"></rect>
						<rect x="0" y="9" height="3" width="21" fill="#0380d3"></rect>
					</svg>
				</h4>
				<div class="answer" style="display:none" >No, we also accept payment by wire transfer and cheque for our annual plans. <a onclick="Intercom('showNewMessage', 'Hello, I would like to learn more about setting up manual invoicing.')">Message support</a> or email <a href="mailto:support@roadmunk.com">support@roadmunk.com</a> to set up manual invoicing.</div>
			</div>
			
			<div class="row faq" data-open="false">
				<h4>
					Do you offer discounts for non-profits?
					<svg id="plus4" xmlns="http://www.w3.org/2000/svg" height="21" width="21">
						<rect id="vertical4" x="9" y="0" height="20" width="3" fill="#0380d3"></rect>
						<rect x="0" y="9" height="3" width="21" fill="#0380d3"></rect>
					</svg>
				</h4>
				<div class="answer" style="display:none" >We do! We offer discounted rates for non-profit and educational organizations. <a onclick="Intercom('showNewMessage', 'Hi! I’m interested in your non-profit or education rates. Can I get more detail?')">Message support</a> or email <a href="mailto:support@roadmunk.com">support@roadmunk.com</a> for more detail.</div>
			</div>
			
			<div class="row faq" data-open="false">
				<h4>
					Can you explain your different permission levels?
					<svg id="plus5" xmlns="http://www.w3.org/2000/svg" height="21" width="21">
						<rect id="vertical5" x="9" y="0" height="20" width="3" fill="#0380d3"></rect>
						<rect x="0" y="9" height="3" width="21" fill="#0380d3"></rect>
					</svg>
				</h4>
				<div class="answer" style="display:none" >Absolutely. At the account level, we have 3 permission settings:<br><br><ul><li><strong>Account Admins</strong> have access to user creation and billing options.</li><li><strong>Collaborators</strong> can create, edit and share roadmaps, but they can’t invite new users to a group account.</li><li><strong>Reviewers</strong> can view and comment on roadmaps, but they can’t change or edit them.</li></ul></div>
			</div>
			
			<div class="row faq" data-open="false">
				<h4>
					How can I be sure my data is secure?
					<svg id="plus6" xmlns="http://www.w3.org/2000/svg" height="21" width="21">
						<rect id="vertical6" x="9" y="0" height="20" width="3" fill="#0380d3"></rect>
						<rect x="0" y="9" height="3" width="21" fill="#0380d3"></rect>
					</svg>
				</h4>
				<div class="answer" style="display:none" >We have extensive experience serving enterprise clients with complex security requirements. Roadmunk is compliant with ISO/IEC 27001:2013, the world’s leading standard for information security management systems. Our <a href="security.html">security page</a> outlines our full data protection policy. <br><br>For companies requiring enhanced security, we also offer data storage in a Private Cloud and SAML Single-Sign-On. <a onclick="Intercom('showNewMessage', 'Hello, I would like to learn more about the security features and standards offered at Roadmunk.')">Message our support team</a> or email <a href="mailto:support@roadmunk.com">support@roadmunk.com</a> to learn more.</div>
			</div>
			
			<div class="row faq" data-open="false">
				<h4>
					Where do I submit a feature request?
					<svg id="plus7" xmlns="http://www.w3.org/2000/svg" height="21" width="21">
						<rect id="vertical7" x="9" y="0" height="20" width="3" fill="#0380d3"></rect>
						<rect x="0" y="9" height="3" width="21" fill="#0380d3"></rect>
					</svg>
				</h4>
				<div class="answer" style="display:none" >We love feedback, and there’s a good chance your feature idea is already on our roadmap. <a onclick="Intercom('showNewMessage', 'Hi! I’d like to make a feature request.')">Message support</a> or email <a href="mailto:support@roadmunk.com">support@roadmunk.com</a> to share your two cents.</div>
			</div>
			
			<div class="row">
				<p>For more information about our pricing plans or help with Roadmunk, <a onclick="Intercom('showNewMessage', 'Hi! I have a question about Roadmunk.')">contact our support</a> team or visit our <a href="http://support.roadmunk.com/" target="blank">support center</a>.</p>
			</div>
		</div>
	</div>
</section>


<section class="cta-section">
	<div class="container big-cta text-center">
		<div>
			<h2>Build better roadmaps with Roadmunk</h2>
			<p>Free 14-day trial | No credit card required | Get started in minutes</p>
			<a href="https://app.roadmunk.com/signup" class="button button-teal">Sign Up Free</a>
		</div>
	</div>
</section>

</div>


 <!-- The footer for the site -->
{% include footer.html %}	
