---
title: pricing
---

{% include header.html %}
		

<div class="pricing">

<section class="text-center header-section">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col col-lg-10">
			<h1>Choose the right plan for your business.</h1>
			</div>
		
		</div>
	</div>
</section>

<section class="d-block d-sm-none">
	
	<div class="container">
		<div class="row pricing-table">
			<div class="col-md-10 center">
				
				<div class="pricing-column">
					<div class="text-center">
						<h2>Essentials</h2>
						<p class="small">Have better conversations and instant 360 degree client view.</p>
					</div>
					<div class="price text-center">
						<h2 class="annual">$19</h2>
						
						<p class="small">per user / month / billed anually</p>
					</div>
					<div>
						<p><span class="emphasis">Essentials</span> includes:</p>
						<li>5 seat minimum</li>
						<li>1 CRM integration</li>
						<li>Professional onboarding</li>
						<hr>
						<li>Desktop app (PC)</li>
						
						<li>Mobile app (IOS & Android)</li>
						<li>Caller info pop-ups</li>
						<li>Announced call transferring</li>
						<li>Follow up tasks for team members</li>
						<li>Quick contact finder/dialer</li>
						
					</div>
					<div class="tier-bottom">
						<hr>
						
						<a class="button text-center" onclick="Intercom('showNewMessage', 'Hi, I\'m interested in Toastar Essentials')">Chat now</a>
					</div>
				</div>
			</div>
			<div class="col-md-10 center">
				<div class="pricing-image">
					<div class="popular-banner">Most Popular</div></div>
				<div class="pricing-column highlighted-plan">
					<div class="text-center">
						<h2>Professional</h2>
						<p class="small">Have better conversations, instant 360 degree client view and deep insights.</p>
					</div>
					<div class="price text-center">
						<h2 class="annual">$38</h2>
						
						<p class="small">per user / month / billed anually</p>
					</div>
					<div>
						<p><span class="emphasis">Professional</span> includes:</p>
						<li>5 seat minimum</li>
						<li>3 CRM integration</li>
						<li>Professional onboarding</li>
						<hr>
						<li>Desktop app (PC)</li>
						
						<li>Mobile app (IOS & Android)</li>
						<li>Caller info pop-ups</li>
						<li>Announced call transferring</li>
						<li>Follow up tasks for team members</li>
						<li>Quick contact finder/dialer</li>
						<hr>
						<li>Click to dial</li>
						<li>Call recording</li>
						<li>Call analytics dashboard and reporting</li>
						<li>Access to developer API</li>
						<li>Clearbit integration</li>

					
					</div>
					<div class="tier-bottom">
						
						<a class="button text-center" onclick="Intercom('showNewMessage', 'Hi, I\'m interested in Toastar Professional')">Chat now</a>
					</div>
				</div>
			</div>
			<div class="col-md-10 center">
				<div class="pricing-image"></div>
				<div class="pricing-column">
					<div class="text-center">
						<h2>Custom</h2>
						<p class='small'>Have it all! Including your own special preferences.</p>
					</div>
					
					<div>
						<p><span class="emphasis">Custom</span> includes:</p>
						<li>Unlimited seats</li>
						<li>Unlimited CRM integration</li>
						<li>Professional onboarding</li>
						<hr>
						<li>Desktop app (PC)</li>
						
						<li>Mobile app (IOS & Android)</li>
						<li>Caller info pop-ups</li>
						<li>Announced call transferring</li>
						<li>Follow up tasks for team members</li>
						<li>Quick contact finder/dialer</li>
						<hr>
						<li>Click to dial</li>
						<li>Call recording</li>
						<li>Call analytics dashboard and reporting</li>
						<li>Access to developer API</li>
						<li>Clearbit integration</li>
						<li>Designated CSM</li>
						<li>Complimentary training & support</li>
						<li>Auto-Publish in Realtime</li>
						<hr>
						<li>SAML / SSO Integration</li>
						<li>User readiness training</li>
						<li>Custom analytics</li>
						<li>Custom application design</li>
					</div>
					<div class="tier-bottom">
						
						<a onclick="Intercom('showNewMessage', 'Hi, I\'d like to request a custom pricing quote')" class="button button-white text-center">Contact Sales</a>
					</div>
				</div>
			</div>
			
		</div>

	</div>
</section>

<section class="d-none d-sm-block">
	<div class="container">
		<table class="pricing-table ">
			<tr>
			
				<td class="pricing-image">
					<img src="/assets/images/essential.svg" alt="ice cream stall" />
					<div class="popular-banner">Most Popular</div>
				</td>
				<td class="pricing-image"><img src="/assets/images/professional.svg" alt="ice cream office building" /></td>
				<td class="pricing-image"><img src="/assets/images/custom.svg" alt="ice cream factory complex" /></td>
				<div class="swoosh"></div>
			</tr>
			<tr class="plan-title text-center">
				
				<td class="popular">
					<h3>Essentials</h3>
					<p>Have better conversations and instant 360 degree client view.</p>
				</td>
				<td>
					<h3>Professional</h3>
					<p>Have better conversations, instant 360 degree client view and deep insights.</p>
				</td>
				<td>
					<h3>Custom</h3>
					<p>Have it all! Including your own special preferences.</p>
				</td>
			</tr>
			<tr class="plan-price text-center">
				
				<td class="price popular">
					<h2 class="annual">$19</h2>
					
					<p class="light-grey-text">per user / month / billed anually</p>
				</td>
				<td class="price">
					<h2 class="annual">$38</h2>
					
					<p class="light-grey-text">per user / month / billed anually </p>
				</td>
				<td>
					<a onclick="Intercom('showNewMessage', 'Hi, I\'d like to request a custom pricing quote')" class="button button-white" href="#">Contact Sales</a>
				</td>
			</tr>
			<tr class="plan-features">
				
				<td class="popular">
					<p><span class="emphasis">Essentials </span> includes:</p>
					<li>5 seats minimum</li>
					<li data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">1 CRM integration</li>
					<li>Professional onboarding</li>
					<hr>
					<li>Desktop app (PC)</li>
					<li>Mobile app (IOS & Android)</li>
					<li>Caller info pop-ups</li>
					<li>Announced call transferring</li>
					<li>Call logging with notes</li>
					<li>Follow up tasks for team members</li>
					<li>Quick contact finder/dialer</li>

					
					
				</td>
				<td>
					<p><span class="emphasis">Professional </span> includes:</p>
					<li>5 seats minimum</li>
					<li>3 CRM integrations</li>
					<li>Professional onboarding</li>
					<hr>
					<li>Desktop app (PC)</li>
					<li>Mobile app (IOS & Android)</li>
					<li>Caller info pop-ups</li>
					<li>Announced call transferring</li>
					<li>Call logging with notes</li>
					<li>Follow up tasks for team members</li>
					<li>Quick contact finder/dialer</li>
					<hr>
					<li>Click to dial</li>
					<li>Call recording</li>
					<li>Call analytics dashboard and reporting</li>
					<li>Access to developer API</li>
					<li>Clearbit integration</li>
					
				</td>
				<td>
					<p><span class="emphasis">Custom </span> includes:</p>
					<li>no seats minimum</li>
					<li>Unlimited CRM integrations</li>
					<li>Professional onboarding</li>
					<hr>
					<li>Desktop app (PC)</li>
					<li>Mobile app (IOS & Android)</li>
					<li>Caller info pop-ups</li>
					<li>Announced call transferring</li>
					<li>Call logging with notes</li>
					<li>Follow up tasks for team members</li>
					<li>Quick contact finder/dialer</li>
					<hr>
					<li>Click to dial</li>
					
					<li>Call recording</li>
					<li>Call analytics dashboard and reporting</li>
					<li>Access to developer API</li>
					<li>Clearbit integration</li>
					<hr>
					<li>SAML / SSO Integration</li>
					<li>User readiness training</li>
					<li>Custom analytics</li>
					<li>Custom requirements</li>

				</td>
			</tr>
			
			<tr class="button-row">
				
				<td class="popular text-center"><a class="button" onclick="Intercom('showNewMessage', 'Hi, I\'m interested in Toastar Essentials')" href="#">Get started</a></td>
				<td><a class="button text-center" onclick="Intercom('showNewMessage', 'Hi, I\'m interested in Toastar Professional')" href="#">Get started</a></td>
				
				<td><a class="button text-center" onclick="Intercom('showNewMessage', 'Hi Toastar, I\'d like to request an custom pricing quote')" href="#">Contact Sales</a></td>
			</tr>
		</table>
		<div class="usd-note">* All our pricing plans are listed in USD.</div>
	</div>
</section>


{% include cta.html %}

</div>


 <!-- The footer for the site -->
{% include footer.html %}	
