---
title: Pricing
---

{% include header.html %}
		

<div class="pricing">

<section class="text-center header-section">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col col-lg-10">
			<h1>Choose the right plan for your business.</h1>
			</div>
		
		</div>
	</div>
</section>

<section class="d-block d-sm-none">
	
	<div class="container">
		<div class="row pricing-table">
			<div class="col-md-10 center">
				
				<div class="pricing-column">
					<div class="text-center">
						<h2>Basic</h2>
						<p class="small">Have better conversations and instant 360-degree client view.</p>
					</div>
					<div class="price text-center">
						<h2 class="annual">€4,95</h2>
						
						<p class="small">per user / month / billed anually</p>
					</div>
					<div>
						<p><span class="emphasis">Basic</span>:</p>
						<li>25 seats minimum</li>
					<li>€150 per basic integration/ per month</li>
					<li>1 view included </li>
						<li>€25 per extra view/ per month</li>
					<li>Prefessional on-boarding €2000 one-time fee</li>
					<hr>
					<li>Desktop app (PC)</li>
					<li>Mobile app (IOS & Android)</li>
					<li>Caller info pop-ups</li>
					<li>Click to Call</li>

					<li>Call forwarding</li>
					<li>Call logging history</li>
					<li>Call back notes for team members</li>
					<li>Quick contact finder/dialer</li>
						
					</div>
					<div class="tier-bottom">
						<hr>
						
						<a class="button text-center" href="mailto:sales@toastar.io?Subject=Basic%20plan">Get started</a>
					</div>
				</div>
			</div>
			<div class="col-md-10 center">
				<div class="pricing-image">
					<div class="popular-banner">Most Popular</div></div>
				<div class="pricing-column highlighted-plan">
					<div class="text-center">
						<h2>Premium</h2>
						<p class="small">Have better conversations, instant 360-degree client view and deep insights.</p>
					</div>
					<div class="price text-center">
						<h2 class="annual">€4,95</h2>
						
						<p class="small">per user / month / billed anually</p>
					</div>
					<div>
						<p><span class="emphasis">Premium</span>:</p>
						<li>25 seats minimum</li>
					<li>€200 per premium integration/ per month</li>
					<li>1 view included </li>
						<li>€25 per extra view/ per month</li>
					<li>Prefessional on-boarding €2000 one-time fee</li>
					<hr>
					<li>Desktop app (PC)</li>
					<li>Mobile app (IOS & Android)</li>
					<li>Caller info pop-ups</li>
					<li>Click to Call</li>
					<li>Call forwarding</li>
					<li>Call logging history</li>
					<li>Call back notes for team members</li>
					<li>Quick contact finder/dialer</li>
					<hr>
				
						<p>Customizable (development hours not included) and sets the base for:</p>
						
						<li>360 degrees customer view </li>
						<li>Call analytics dashboard and reporting</li>
						<li>InSocial customer satisfaction integration</li

					
					</div>
					<div class="tier-bottom">
						
						<a class="button text-center" href="mailto:sales@toastar.io?Subject=Premium%20plan">Get started</a>
					</div>
				</div>
			</div>
			<div class="col-md-10 center">
				<div class="pricing-image"></div>
				<div class="pricing-column">
					<div class="text-center">
						<h2>Custom</h2>
						<p class='small'>Have it all! Including your own special preferences.</p>
					</div>
					
					<div>
						<p><span class="emphasis">Custom</span>:</p>
						<li>25 seats minimum</li>
					<li>€150 per basic integration/ per month</li>
					<li>€200 per premium integration/ per month</li>
					<li>1 view included / €25 per extra view/ per month</li>
					<li>Prefessional on-boarding €2000 one-time fee</li>
					<hr>
					<li>Desktop app (PC)</li>
					<li>Mobile app (IOS & Android)</li>
					<li>Caller info pop-ups</li>
					<li>Click to Call</li>
					<li>Call forwarding</li>
					<li>Call logging history</li>
					<li>Call back notes for team members</li>
					<li>Quick contact finder/dialer</li>
					<hr>
				
						<p>Customizable (development hours not included) and sets the base for:</p>
						
						<li>360 degrees customer view </li>
						<li>Call analytics dashboard and reporting</li>
						<li>InSocial customer satisfaction integration</li>
					
					<li>Call recording</li>
					<li>Access to developer API</li>
					<li>Clearbit integration</li>
					<li>SAML / SSO Integration</li>
					<li>User readiness training</li>
					<li>Custom analytics</li>
					<li>Custom requirements</li>
					</div>
					<div class="tier-bottom">
						
						<a class="button text-center"
						href="mailto:sales@toastar.io?Subject=Custom%20plan">Contact Sales</a>
					</div>
				</div>
			</div>
			
		</div>

	</div>
</section>

<section class="d-none d-sm-block">
	<div class="container">
		<table class="pricing-table ">
			<tr>
			
				<td class="pricing-image">
					<img src="/assets/images/essential.svg" alt="ice cream stall" />
					
				</td>
				<td class="pricing-image"><img src="/assets/images/professional.svg" alt="ice cream office building" /><div class="popular-banner">Most Popular</div></td>
				<td class="pricing-image"><img src="/assets/images/custom.svg" alt="ice cream factory complex" /></td>
				<div class="swoosh"></div>
			</tr>
			<tr class="plan-title text-center">
				
				<td>
					<h3>Basic</h3>
					<p>Have better conversations and instant 360 degree client view.</p>
				</td>
				<td class="popular">
					<h3>Premium</h3>
					<p>Have better conversations, instant 360 degree client view and deep insights.</p>
				</td>
				<td>
					<h3>Custom</h3>
					<p>Have it all! Including your own special preferences.</p>
				</td>
			</tr>
			<tr class="plan-price text-center">
				
				<td class="price">
					<h2 class="annual">€4,95</h2>
					
					<p class="light-grey-text">per user / month / billed anually</p>


				</td>
				<td class="price popular">
					<h2 class="annual">€4,95</h2>
					
					<p class="light-grey-text">per user / month / billed anually </p>
				</td>
				<td>
					<a class="button button-white" href="mailto:sales@toastar.io">Contact Sales</a>
				</td>
			</tr>
			<tr class="plan-features">
				
				<td >
					<p><span class="emphasis">Basic</span>:</p>
					<li>25 seats minimum</li>
					<li>€150 per basic integration/ per month</li>
					<li>1 view included </li>
						<li>€25 per extra view/ per month</li>
					<li>Prefessional on-boarding €2000 one-time fee</li>
					<hr>
					<li>Desktop app (PC)</li>
					<li>Mobile app (IOS & Android)</li>
					<li>Caller info pop-ups</li>
					<li>Click to Call</li>

					<li>Call forwarding</li>
					<li>Call logging history</li>
					<li>Call back notes for team members</li>
					<li>Quick contact finder/dialer</li>

					
					
				</td>
				<td class="popular">
					<p><span class="emphasis">Premium</span>:</p>
					<li>25 seats minimum</li>
					<li>€200 per premium integration/ per month</li>
					<li>1 view included </li>
						<li>€25 per extra view/ per month</li>
					<li>Prefessional on-boarding €2000 one-time fee</li>
					<hr>
					<li>Desktop app (PC)</li>
					<li>Mobile app (IOS & Android)</li>
					<li>Caller info pop-ups</li>
					<li>Click to Call</li>
					<li>Call forwarding</li>
					<li>Call logging history</li>
					<li>Call back notes for team members</li>
					<li>Quick contact finder/dialer</li>
					<hr>
				
						<p>Customizable (development hours not included) and sets the base for:</p>
						
						<li>360 degrees customer view </li>
						<li>Call analytics dashboard and reporting</li>
						<li>InSocial customer satisfaction integration</li>
					
				</td>
				<td>
					<p><span class="emphasis">Custom</span>:</p>
					<li>25 seats minimum</li>
					<li>€150 per basic integration/ per month</li>
					<li>€200 per premium integration/ per month</li>
					<li>1 view included / €25 per extra view/ per month</li>
					<li>Prefessional on-boarding €2000 one-time fee</li>
					<hr>
					<li>Desktop app (PC)</li>
					<li>Mobile app (IOS & Android)</li>
					<li>Caller info pop-ups</li>
					<li>Click to Call</li>
					<li>Call forwarding</li>
					<li>Call logging history</li>
					<li>Call back notes for team members</li>
					<li>Quick contact finder/dialer</li>
					<hr>
				
						<p>Customizable (development hours not included) and sets the base for:</p>
						
						<li>360 degrees customer view </li>
						<li>Call analytics dashboard and reporting</li>
						<li>InSocial customer satisfaction integration</li>
					
					<li>Call recording</li>
					<li>Access to developer API</li>
					<li>Clearbit integration</li>
					<li>SAML / SSO Integration</li>
					<li>User readiness training</li>
					<li>Custom analytics</li>
					<li>Custom requirements</li>

				</td>
			</tr>
			
			<tr class="button-row">
				
				<td ><a class="button text-center" href="mailto:sales@toastar.io?Subject=Basic%20plan">Get started</a></td>
				<td class="popular "><a class="button text-center" href="mailto:sales@toastar.io?Subject=Premium%20plan">Get started</a></td>
				
				<td><a class="button text-center" href="mailto:sales@toastar.io?Subject=Custom%20plan">Contact Sales</a></td>
			</tr>
		</table>
		<div class="usd-note">* All our pricing plans are listed in EURO.</div>
	</div>
</section>


{% include cta.html %}

</div>


 <!-- The footer for the site -->
{% include footer.html %}	
