---
title: Terms & conditions
---

{% include header.html %}

div class="terms-and-conditions">
	<article>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="conditions-box">
		<h2>Privacy Policy</h2>
		<p class="blue">Last Updated: March 7th, 2017</p>
		


		


<h3>Processing personal data</h3>

<p>Ask Roger! processes all personal data that we gather or receive from you with the utmost care and confidentiality. This data is processed in accordance with the relevant local and federal laws.
TOPdesk gathers data in several ways: information you submit to our site and information gathered by Google Adwords and Google Analytics.</p>



<h4>Submitted to the website<h4>

<p class="col2 bottom">We save data entered on our website.</p>



<h4>Gathered by Google Analytics</h4>

<p class="col2 bottom">We use Google Analytics to track how visitors use our website. The information gathered, such as your computer’s IP address, is transferred to Google, who saves it on servers such as those in the United States. Google may make this data available to third parties either due to legal obligations or to process the data. We cannot control this.</p>



<h4>Gathered by Google Adwords</h4>

<p class="col2 bottom">Google Adwords lets us gather statistical data relating to our ad campaigns at Google. The goal is to determine how many ad clicks convert to requesting more information, such as a trial, white paper or information package. We only use the data gathered by Google Adwords for statistical analysis; we will never use this data to focus on a specific person.</p>



<h3>What do we do with your data?</h3>

<p>Your personal information is processed by us and used to maintain existing relations and add to our customer base. By placing a request on our website, you are granting us permission to contact you for commercial purposes.</p>



<h3>Inspection, correction and opting out</h3>

<p>Ask Roger! customers can file a written request to inspect their saved personal data. If any saved personal data is incorrect, you can file a written request to have the data adjusted. You can also inform us in writing if you no longer wish to be contacted by Ask Roger!. Our address is:
Ask Roger!
Nieuwe Plantage 58
2611 XK, Delft, The Netherlands
</p>


<h3>Adjusting the privacy policy</h3>

<p>We reserve the right to adjust this privacy policy. Changes will be published on the website.</p>



<h3>Contact Us</h3>

<p>If you have any questions about this policy, please contact us:

info@askroger.nl 
</p>


</div>
					</div>
				</div>
			</div>
		</section>
	</article>
</div>

{% include footer.html %}	
