---
title: Terms & conditions
---

{% include header.html %}

div class="terms-and-conditions">
	<article>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="conditions-box">
		<h2>Privacy Policy</h2>
		<p class="blue">Last Updated: March 7th, 2017</p>
		<br>


		
		

		<a class="anchor" name="addition"></a>
		<h3 class="blue"><span class="section-number">1</span>Processing personal data</h3>
		<p>Ask Roger! processes all personal data that we gather or receive from you with the utmost care and confidentiality. This data is processed in accordance with the relevant local and federal laws.
TOPdesk gathers data in several ways: information you submit to our site and information gathered by Google Adwords and Google Analytics.</p>
		<table>
			<tr>
				<td valign="top"><h4 class="col1">1.1</h4></td>
				<td><p class="col2 bottom"><strong>Submitted to the website</stong>We save data entered on our website.</p></td>
			</tr>

			<tr>
				<td valign="top"><h4 class="col1">1.2</h4></td>
				<td><p class="col2 bottom"><strong>Gathered by Google Analytics</strong>We use Google Analytics to track how visitors use our website. The information gathered, such as your computer’s IP address, is transferred to Google, who saves it on servers such as those in the United States. Google may make this data available to third parties either due to legal obligations or to process the data. We cannot control this.</p></td>
			</tr>

			
		</table>


</div>
					</div>
				</div>
			</div>
		</section>
	</article>
</div>

{% include footer.html %}	
