---
title: Toastar for sales teams
---

{% include header.html %}


 <!-- The top bar for the site -->
		
<div class="home">
	<section class="homepage-header-section">
		<img src="images/homepage/header-left-dots.svg" alt="" class="bg-dots bg-dots-left">
		<img src="images/homepage/header-right-dots.svg" alt="" class="bg-dots bg-dots-right">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<header>
						<h1>A sales team's best friend</h1>
						<h4>Toastar integrates your telephony platform with your CRM system and provides an instant 360 degree client view.</h2>
						<div>
							<a href="" onclick="Calendly.showPopupWidget('https://calendly.com/michiel-6/15min');return false;" class="button button-teal text-center">Give me a demo</a>
							

							
							
						</div>
					
					</header>
				</div>
				<div class="col-md-7 ">
					<div class="">
						<img class="header-portrait" src="assets/images/scenario1.jpg" alt="product" style="    "/>
                        <img class="header-grid" src="assets/images/gridpoints.svg" />
					</div>
				</div>
			</div>
		</div>
	</section>


	<div class="container">


	</div>

	<section>
		<div class="container">
	
			<div class="row reveal-slow">
				<div class="col-md-4 text-block">

					<div class="left">
						
						
						<h2>Power your sales rep productivity</h2>
						
						<p>See recent conversations, sales opportunities and critical information in real time.  </p>
						
				</div>

				</div>
				
				<div class="col-md-8 changing-image right-image">

		            <img src="assets/images/rocket.svg" alt="timeline view" class="pb-5" />
		          </div>

					
				
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row reveal-slow">
				<div class="col-md-4 order-md-2 text-block">
					<div class="right">
						<br>
						<h2>Eliminate data entry</h2>
						<p>Efficiently capture all interactions and enable seamless note taking synced back to your CRM. </p>
						
					</div>
				</div>
				<div class="col-sm-8 order-md-1 changing-image">
					<img src="/assets/images/dynamics.png" alt="popup"/>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row reveal-slow">
				<div class="col-md-4 text-block">
					<div class="left">
						<br>
						<h2>Connect all your sales tools</h2>
						<p>Unify your sales technology stack and create a full sales picture. </p>
						
					</div>
				</div>
				<div class="col-md-8 changing-image right-image">
					<img src="/assets/images/crmscreens.png" alt="presentation slide" />
				</div>
			</div>
		</div>
	</section>

	<section class="home-main">
		<div class="container">
			<div class="row reveal-slow">
				<div class="col-md-4 order-md-2 text-block">
					<div class="right">
						<h2>Forecast with dashboards</h2>
						<p>Stay on the sales fast track with dashboards that enable you to keep track of sales opportunities and pipeline.</p>
						
					</div>
				</div>
				<div class="col-md-8 order-1 changing-image">
					<img src="/assets/images/dashboardscreen.png" alt="master roadmapping" />
				</div>
			</div>
		</div>
	</section>


	

<section class="pt-5 pb-5" style="    background-color: #F5F5F7;">
	<div class="row">
          <div class="col-md-12 text-center now-support">
            <h3>Integrates with your current systems</h3>
            <p>Toastar integrates with top leading sales tools</p>
          </div>
        </div>
	<div class="row">
		<div class="col-md-12 text-center">

		

			<div class="list-support">
				
				
			  <img  src="/assets/images/integration/salesforce.svg" alt="salesforce">
              <img  src="/assets/images/integration/dynamics.png" alt="microsoft dynamics 365">

			  <img  src="/assets/images/integration/HSLogo_color.svg" alt="hubspot">
              <img  src="/assets/images/integration/topdesk.svg" alt="Topdesk" class="py-2">

              <img  src="/assets/images/integration/sap.svg" alt="SAP" class="py-2">

              <img  class="py-2" src="/assets/images/integration/zendesk.svg" alt="Zendesk">
             
              
             
  
            </div>
            <p class="coming-soon"><a href="/integrations">See all integrations</a></p>
		</div>
	</div>


</section>


  <section>
	<div class="container mt-5">
        <div class="Solution-main text-center">
            <h3 class="Solution-title">What are sales teams saying</h3>
            

                        <div class="row SolutionLists justify-content-md-center">
                             <div class="col-sm-4 text-left testimonial">

                             	<img src="/assets/images/logo/wessanen-logo.svg" height="30">

         
          <p>“<strong>An amazing tool for our sales organization.</strong> Toastar is essential to my day-to-day sales functions. It automatically shows the contact's name for an incoming and outgoing call if the number is in the system. Call notes appear to remind you of previous conversations with clients, which in turn, causes you to follow up on any outstanding opportunies”</p>
          <div class="testimonials--line"></div>
          <h6>Eric Remington</h6>
          <h6>Sales manager</h6>
                                            
                    		 </div>
                                                    

                              <div class="col-sm-4 text-left testimonial">
                              	<img src="/assets/images/logo/odfjell-logo.svg" height="30">
                           <p>"<strong>Toastar is a great sales tool.</strong>
The ability to log calls automatically is perfect. It is amazing that I can do so much in such little screenspace. I love how every call is broken down to show the duration, who called who, and which calls were successfully connected. This helps me track my performance
”</p>
                           <div class="testimonials--line vacasa"></div>
                           <h6>John Jackson</h6>
          					<h6>Marketing &amp; Sales Director</h6>

                    </div>
                  
                  </div>

            </div>
        </div>
  </section>





{% include cta.html %}

</div>





 <!-- The footer for the site -->
{% include footer.html %}	

