---
title: Support Center
---

{% include header.html %}

<div class="home">

	<section class="text-center">
		<div class="container mt-5">
			
			<div class="row justify-content-md-center">

				<div class="col col-lg-8">
					<h3>Support Center</h3>

				<p class=" mb-1 text-left">
				Do you need help?</br>
				Download our <a href="/assets/docs/terms-conditions.pdf">Toastar user manual</a> for more information.</br>
				Is your question not listed? Contact your Toastar partner.
				</p>
			</div>

			</div>
			

		

	   


		</div>
	</div>
	</section>

	</div>


{% include footer.html %}	
