---
title: Terms & conditions
---

{% include header.html %}

div class="terms-and-conditions">
	<article>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="conditions-box">
		<h2>General Terms of Service</h2>
		<p class="blue">Last Updated: March 7th, 2016</p>
		

		<p>On this relationship formed between both parties, subject to the Dutch ICT terms
as filed with the Chamber of Commerce under number 30174840. A copy of these conditions is given to the client along with this agreement. If this is not done, these conditions can be obtained at the first request of the client free of charge or can be viewed on and downloaded from the Internet.</p>

		
		

	
		<h3>Addition</h3>
		<p class="col2 bottom">In addition to Article 3.5 of our general terms and conditions Ask Roger! annually the right to adjust the fee that is based on the CBS index for wages and materials in January of that year.</p>
			
		<p class="col2 bottom">In addition to Rule 4.2 applies automatically any agreements concluded after the initial term be extended for one year.</p>


</div>
					</div>
				</div>
			</div>
		</section>
	</article>
</div>

{% include footer.html %}	
