<footer>
	<div class="container">
		<div class="footer-nav">
			<div class="row">
				<div class="col-md-2 hidden-sm hidden-xs footer-logo">
					<img class="site-logo " src="assets/images/toastar.svg" alt="logo icon" width="140px" />
				</div>
				<div class="col-md col-sm-6">
					<h4 class="uppercase">Company</h4>
					<li><a title="Company" href="../company.html">About Roadmunk</a></li>
					<li><a href="../careers.html">Careers</a></li>
					<li><a href="../company.html#contact" title="Contact Us">Contact Us</a></li>
				</div>
				<div class="col-md col-sm-6">
					<h4 class="uppercase">Resources</h4>
					<li><a href="../enterprise.html">Enterprise</a></li>
					<li><a href="../roadmap-templates.html">Templates</a></li>
					<li><a href="../pricing.html">Pricing</a></li>
					<li><a href="../jira-roadmap-integration.html">Jira</a></li>
				</div>
				<div class="col-md col-sm-6">
					<h4 class="uppercase">Learn</h4>
					<li><a href="../blog/index.html" title="Roadmunk Blog">Roadmunk Blog</a></li>
					<li><a href="../product-to-product-podcast.html" title="Podcast">P to P Podcast</a></li>
					<li><a href="../index.html" title="Field Guide">Field Guide</a></li>
					<li><a href="../product-roadmap-tools-comparison.html" title="Roadmap Tool Guide">Roadmap Tool Guide</a></li>
				</div>
				<div class="col-md col-sm-6">
					<h4 class="uppercase">Support</h4>
					<li><a href="http://support.roadmunk.com" target="blank" title="Support">Support Center</a></li>
					<li><a href="http://support.roadmunk.com/faq" target="blank" title="FAQ">FAQ</a></li>
					<li><a href="mailto:support@roadmunk.com?Subject=Support%20Case">Email Us</a></li>
				</div>
				<div class="col-md-2 hidden-sm hidden-xs">
					<h4 class="uppercase">Legal</h4>
					<li><a href="../terms-and-conditions.html" title="Terms And Conditions">Terms and Conditions</a></li>
					<li><a href="../privacy-policy.html" title="Privacy Policy">Privacy Policy</a></li>
					<li><a href="../security.html" title="Security">Security</a></li>
				</div>
			</div>
		</div>
		<div class="bottom">
			<span>&copy; 2018 Toastar</span>
			<span class="footer-social-media">
					<a class="social-link" target="blank" href="https://www.facebook.com/roadmunkapp/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a class="social-link" target="blank" href="https://twitter.com/RoadmunkApp"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a class="social-link" target="blank" href="https://www.linkedin.com/company/roadmunk/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			</span>
		</div>
	</div>
</footer>		
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous">
	</script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous">
	</script>

	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
		crossorigin="anonymous">
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
	
	<script
		type="text/javascript"
		src="assets/js/main-v=65a4174029.js">
	</script>

		<!-- Drip -->
		<script type="text/javascript">
		  var _dcq = _dcq || [];
		  var _dcs = _dcs || {};
		  _dcs.account = '9535932';

		  (function() {
		    var dc = document.createElement('script');
		    dc.type = 'text/javascript'; dc.async = true;
		    dc.src = '//tag.getdrip.com/9535932.js';
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(dc, s);
		  })();
		</script>
		<!-- end Drip -->

		<!-- Hotjar Tracking Code for https://toastar.io -->
		<script>
		    (function(h,o,t,j,a,r){
		        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
		        h._hjSettings={hjid:1023311,hjsv:6};
		        a=o.getElementsByTagName('head')[0];
		        r=o.createElement('script');r.async=1;
		        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
		        a.appendChild(r);
		    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
		</script>


<!-- Intercom -->
		<script>
  window.intercomSettings = {
    app_id: "dcp826p5"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/dcp826p5';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
<!-- end Intercom -->	



	
	

</body>
</html>