<footer class="bg-light">

	<div class="grid-wrap">
	

		<div class="grid-row">
			<div class="fourth">
				<ul class="footer-list">
					<li><img src="/assets/img/icons/colect.io.png" width="110"  ></li>
					<li>©2009-2018</li>
					<li style="color: #f2f2f2;">-----</li>
					<li><a href="https://www.youtube.com/watch?v=Gi_0G_HV1EE">About Us</a></li>
					<li><a href="http://colect.io/about-us">Meet the team</a></li>
					<li><a href="/integrations">Contact Us</a></li>
					
					<li><div>
				
				
				
					<a href="https://www.facebook.com/getcolect" class="social-icon facebook"></a>
				
				
					<a href="https://www.instagram.com/apps4fashion/" class="social-icon instagram"></a>
				
			</div></li>
				</ul>

			</div>

			<div class="fourth">
				<ul class="footer-list">
					<li><h3>Product</h3> </li>
					
					<li><a href="/product">All features</a></li>
					<li><a href="/product#sales-app">Sales rep app</a></li>
					<li><a href="/product#b2b-webshop">B2B eCommerce store</a></li>
					<li><a href="/product#marketing">Marketing module</a></li>
					<li><a href="/product#integration">Integrations & API</a></li>
					<li><a href="/licensing">Licensing</a></li>
					<li><a href="/signup">Get free demo</a></li>
				</ul>

			</div>

			<div class="fourth">
				<ul class="footer-list">
					<li><h3 >Learn</h3> </li>
					<li><a href="/customers">Customers</a></li>
					<li><a href="/list">Blog</a></li>
					<li><a href="/webinar">Webinar</a></li>
				</ul>

			</div>

			<div class="fourth">
				<ul class="footer-list">
					<li><h3 >Getting Help</h3> </li>
					<li><a href="/signup">Schedule a demo</a></li>
					<li><a href="/support">Support Center</a></li>
					<li><a href="https://salesapp.apptitude.nl/backend/login">Backend login</a></li>
				</ul>

			</div>

			
		</div><!-- /.grid-row -->

		<!-- More button -->
		

	</div><!-- /.grid-wrap -->




		</footer>

	</div><!-- /.site-wrap -->

		<!-- Responsive navigation < 768px -->

		<section class="responsive-navigation">
			<div class="overflow">
				<ul class="responsive-menu">
					<li  class="active"><a href="index.html">Home</a></li><li  class=""><a href="apps4fashion/about.html">Product</a></li><li  class=""><a href="news.html">Customers</a></li><li  class=""><a href="apps4fashion/support.html">Support</a></li><li  class=""><a href="apps4fashion/contact.html">Contact</a></li>
				</ul>

				<div class="show-on-small" style="padding-left: 10px;">
					

					
					
						<a href="" class="social-icon facebook"></a>
					
					
						<a href="" class="social-icon instagram"></a>
					
				</div>

			</div>
		</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!--<script>window.jQuery || document.write('<script src="http://colect.io/assets/js/jquery.min.js"><\/script>')</script>-->
	<script src="/assets/js/all.min-v=3.js"></script>

	<script>
	(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	e.src='//www.google-analytics.com/analytics.js';
	r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	ga('create','UA-39916517-1','auto');ga('send','pageview');
	</script>

	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T3T54DX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

</body>
</html>