<footer>
	<div class="container">
		<div class="footer-nav py-0 py-md-4">
			<div class="row">
				<div class="col-md-2 hidden-sm hidden-xs footer-logo">
					<img class="site-logo " src="assets/images/logo/toastarnewlogo.svg" alt="logo icon" width="140px" />
				</div>
				<div class="col-md col-6">
					<h4 class="uppercase">Company</h4>
					<li><a href="../careers.html">We're hiring</a></li>
					<li><a href="mailto:dcp826p5@toastar.intercom-mail.com" title="Contact Us">Contact Us</a></li>
				</div>
				<div class="col-md col-6">
					<h4 class="uppercase">Resources</h4>
					
					<li><a href="../pricing.html">Pricing</a></li>
					<li><a href="../partner.html">Become a Partner</a></li>

					
				</div>
				<div class="col-md col-6">
					<h4 class="uppercase">Integrations</h4>
					<li><a href="../integrations.html">Salesforce</a></li>
					
					<li><a href="../integrations.html">Dynamics 365</a></li>
					<li><a href="../integrations.html#telephony">Telephony</a></li>
				</div>
				<div class="col-md col-6">
					<h4 class="uppercase">Support</h4>
					<li><a href="http://support.toastar.io" target="blank" title="Support">Support Center</a></li>
					
					<li><a href="mailto:dcp826p5@toastar.intercom-mail.com?Subject=Support%20Case">Email Us</a></li>
				</div>
				<div class="col-md-2 hidden-sm hidden-xs">
					<h4 class="uppercase">Legal</h4>
					<li><a href="../terms-and-conditions.html" title="Terms And Conditions">Terms and Conditions</a></li>
					<li><a href="../privacy-policy.html" title="Privacy Policy">Privacy Policy</a></li>
					
				</div>
			</div>
		</div>
		<div class="bottom">
			<span>&copy; 2018 Toastar</span>
			<!--<span class="footer-social-media">
					<a class="social-link" target="blank" href=""><i class="fab fa-facebook-f"></i></a>
					<a class="social-link" target="blank" href=""><i class="fab fa-twitter"></i></a>
					<a class="social-link" target="blank" href=""><i class="fab fa-linkedin"></i></a>
			</span>-->
		</div>
	</div>
</footer>		

<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<!--toljs-->
<script type="text/javascript">
/**
 * START Navbar
 */


  $(document).on('scroll', function () {
    if ($(document).scrollTop() > 100) {
      $('nav.navbar').addClass('navbar-fixed-drop-shadow');
    } else {
      $('nav.navbar').removeClass('navbar-fixed-drop-shadow');
    }
  });

/**
 * END Navbar
 */
 </script>



		<!-- Drip -->
		<script type="text/javascript">
		  var _dcq = _dcq || [];
		  var _dcs = _dcs || {};
		  _dcs.account = '9535932';

		  (function() {
		    var dc = document.createElement('script');
		    dc.type = 'text/javascript'; dc.async = true;
		    dc.src = '//tag.getdrip.com/9535932.js';
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(dc, s);
		  })();
		</script>
		<!-- end Drip -->

		<!-- Hotjar Tracking Code for https://toastar.io -->
		<script>
		    (function(h,o,t,j,a,r){
		        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
		        h._hjSettings={hjid:1023311,hjsv:6};
		        a=o.getElementsByTagName('head')[0];
		        r=o.createElement('script');r.async=1;
		        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
		        a.appendChild(r);
		    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
		</script>




<!-- Intercom -->
<script>
  window.intercomSettings = {
    app_id: "dcp826p5"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/dcp826p5';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
</script>
<!-- end Intercom -->	


<!-- Calendly link widget begin-->
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<!-- Calendly link widget end -->

</body>
</html>