<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<title>ToastAR</title>
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/stylesheets/stylev4.css" />
		<link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css" />

		<link rel="stylesheet" type="text/css" href="assets/stylesheets/stylev2.css" />


	<meta name="description" content="Get the how-tos and tools you need to lay the foundation for a crystal-clear, actionable roadmap." />
   

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/icons/site.webmanifest">
  <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">


    <link rel="canonical" href="index.html" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <link rel="next" href="page/2/index.html" />
    
    <meta property="og:site_name" content="Roadmapping Field Guide | Roadmunk" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Roadmapping Field Guide | Roadmunk" />
    <meta property="og:description" content="Get the how-tos and tools you need to lay the foundation for a crystal-clear, actionable roadmap." />
    <meta property="og:url" content="index.html" />
    <meta property="og:image" content="http://roadmunk.com/roadmapping/content/images/2018/02/publication-cover.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Roadmapping Field Guide | Roadmunk" />
    <meta name="twitter:description" content="Get the how-tos and tools you need to lay the foundation for a crystal-clear, actionable roadmap." />
    <meta name="twitter:url" content="index.html" />
    <meta name="twitter:image" content="http://roadmunk.com/roadmapping/content/images/2018/02/publication-cover.png" />
    <meta name="twitter:site" content="@RoadmunkApp" />
    <meta property="og:image:width" content="848" />
    <meta property="og:image:height" content="447" />
    
    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Website",
    "publisher": {
        "@type": "Organization",
        "name": "Roadmapping Field Guide | Roadmunk",
        "logo": "http://roadmunk.com/roadmapping/content/images/2018/01/roadmunk-logo.svg"
    },
    "url": "index.html",
    "image": {
        "@type": "ImageObject",
        "url": "http://roadmunk.com/roadmapping/content/images/2018/02/publication-cover.png",
        "width": 848,
        "height": 447
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "index.html"
    },
    "description": "Get the how-tos and tools you need to lay the foundation for a crystal-clear, actionable roadmap."
}
    </script>


    <meta name="generator" content="Ghost 1.20" />
    <link rel="alternate" type="application/rss+xml" title="Roadmapping Field Guide | Roadmunk" href="rss/index.rss" />
</head>
<body class="home-template">
	<header class=" fixed-nav">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between p-md-0" style="background-color: white;" >
						<a href="../index.html" class="navbar-brand">
							<img class="site-logo " src="/assets/images/toastar.svg" alt="Roadmapping Field Guide | Roadmunk" />
						</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Solutions</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="../product-roadmap-tools-comparison.html">Sales</a>
								<a class="dropdown-item" href="index.html">Call center</a>
								<a class="dropdown-item" href="../customers.html">Support</a>
								
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../features.html">Product</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../pricing.html">Pricing</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../roadmap-templates.html">Integrations</a>
						</li>
					
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Partners</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="../product-roadmap-tools-comparison.html">Partner program</a>
								<a class="dropdown-item" href="index.html">Salesforce partners</a>
								<a class="dropdown-item" href="../customers.html">Dynamics partners</a>
								
							</div>
						</li>
					</ul>
					
					<a class="button-teal button button-sm hub-btn " href="https://calendly.com/michiel-6/15min">Get a demo</a>
				</div>
			</nav>
		</div>
	</header>

	<div class="content-wrapper">