<section class="pt-5 pb-5">
	<div class="row">
          <div class="col-md-12 text-center now-support">
            <h3>Integrates with your current systems</h3>
            <p>Toastar integrates with top leading CRM, ERP & phone systems</p>
          </div>
        </div>
	<div class="row">
		<div class="col-md-12 text-center">

		

			<div class="list-support">
				
				
			  <img  src="/assets/images/integration/salesforce.svg" alt="salesforce">
              <img  src="/assets/images/integration/dynamics.png" alt="microsoft dynamics 365">

               <img  src="/assets/images/integration/teams.png" alt="Teams">

			  <img  src="/assets/images/integration/HSLogo_color.svg" alt="hubspot">
              <img  src="/assets/images/integration/TOPdesk-logo.jpg" alt="Topdesk" class="py-2">
              <img  class="py-2" src="/assets/images/integration/zendesk.svg" alt="Zendesk">

              <img  src="/assets/images/integration/sap.svg" alt="SAP">
              <img  src="/assets/images/integration/skype.svg" alt="skype">
             
              


              <img  src="/assets/images/integration/cisco.svg" alt="GO-JEK">
              <img  src="/assets/images/integration/avaya.svg" alt="avaya" class="py-1">
              <img  src="/assets/images/integration/mitel.svg" alt="mitel" class="py-1">
              <img  src="/assets/images/integration/bs.svg" alt="broadsoft" >
             
              
             
  
            </div>
            <p class="coming-soon"><a href="/integrations">See all integrations</a></p>
		</div>
	</div>


</section>