 <nav id="masthead" class="navbar navbar-default mb0" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a title="Roadmunk Home" class="navbar-brand" href="index.html">
				<img class="logo" alt="" src="/assets/images/toastar.svg">
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item"><a title="Features" href="features.html">Features</a></li>
				<li class="nav-item"><a title="Pricing" href="pricing.html">Pricing</a></li>
				<li class="nav-item"><a title="Community" href="community.html">Integrations</a></li>
				<li class="nav-item dropdown pl">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Partners <i class="fa fa-caret-down"></i></a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="product-roadmap-tools-comparison.html">Roadmap Tool Guide</a>
						<a class="dropdown-item" href="roadmapping/index.html">Field Guide</a>
						<a class="dropdown-item" href="customers.html">Customers</a>
						<a class="dropdown-item" href="product-to-product-podcast.html">Podcast</a>
						<a class="dropdown-item" id="blogNav" title="Blog" href="blog/index.html">Blog</a>
					</div>
				</li>
				
				<li class="signup"><a class="button-sm" href="https://app.roadmunk.com/signup">Request demo</a></li>
			</ul>
		</div>
	</div>
</nav>